@page "/login"
@using LamaApp.Client.Pages.Layout;
@using LamaApp.Shared;
@using Microsoft.AspNetCore.Components.Forms;
@inject NavigationManager Navigation
@layout MainLayout

<main class="container vh-100">
    <div class="row mt-3">
        <div class="col offset-10">
            <button class="btn btn-outline-dark" onclick="window.location.href = '/register'">Register</button>
            <button class="btn btn-outline-danger" onclick="window.location.href = '/'"><i class="fa-solid fa-house"></i></button>
        </div>


    </div>

    <div class="row h-75 d-flex flex-column justify-content-center">

        <div class=" target col-6 offset-3 border shadow-sm rounded-3 d-flex flex-column p-4 gap-3">
            <h2 class="text-center py-2">Login</h2>

            <EditForm FormName="formLogin" Model="@user" OnValidSubmit="HandleFormSubmit" id="form-login" class=" d-flex flex-column gap-5 justify-content-around">
                <div class="d-flex flex-column gap-4">
                    <InputText type="text" id="user" placeholder="User" class="w-100 form-control" @bind-Value="user.Nombre" />
                    <InputText type="password" id="password" placeholder="Password" class="w-100 form-control" @bind-Value="user.Contraseña" />
                    <p>Forgot your password? <a href="#">reset it</a></p>
                </div>

                @* <button type="submit" id="btn-login" class="btn btn-dark">send</button> *@
                <button id="btn-login" class="btn btn-dark" onclick="window.location.href = '/'">Send</button>
            </EditForm>

        </div>
    </div>



</main>

@code {
    //Verificar si esta bien manejado el form para este caso en especifico

    [SupplyParameterFromForm(FormName = "formLogin")]
    public UsuarioSh user { get; set; } = new UsuarioSh();


    public void HandleFormSubmit()
    {


        
    }


}
