@page "/user/episodes"
@using LamaAppVS.Components.Layout
@using LamaAppVS.Components.Pages.Usuario.Layout

@layout UserLayout

<h1 class="fs-1 fw-bold text-center">Episodios en motocicleta</h1>
<div class="grid-cols-3-auto px-5 gap-5">
    <div class="bg-white h-full p-4 rounded">
        <p class="fs-1 fw-bold">
            Aventura en la montaña
        </p>
        <div class="d-flex w-ful justify-content-center align-items-center">
            <img src="Imagenes/montaña.jpg" class="imagen-gap rounded-3" />
        </div>
        <br />
        <p class="fs-6 text-secondary">Duración <span>3 horas</span></p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum sem sapien, nec commodo sem tempus ut.
            </p>
        <button class="btn btn-dark">Ver más detalles</button>
    </div>

    <div class="bg-white h-full p-4 rounded">
        <p class="fs-1 fw-bold">
            Aventura en la montaña
        </p>
        <div class="d-flex w-ful justify-content-center align-items-center">
            <img src="Imagenes/montaña.jpg" class="imagen-gap rounded-3" />
        </div>
        <br />
        <p class="fs-6 text-secondary">Duración <span>3 horas</span></p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum sem sapien, nec commodo sem tempus ut.
        </p>
        <button class="btn btn-dark">Ver más detalles</button>
    </div>

    <div class="bg-white h-full p-4 rounded">
        <p class="fs-1 fw-bold">
            Aventura en la montaña
        </p>
        <div class="d-flex w-ful justify-content-center align-items-center">
            <img src="Imagenes/montaña.jpg" class="imagen-gap rounded-3" />
        </div>
        <br />
        <p class="fs-6 text-secondary">Duración <span>3 horas</span></p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum sem sapien, nec commodo sem tempus ut.
        </p>
        <button class="btn btn-dark">Ver más detalles</button>
    </div>

    <div class="bg-white h-full p-4 rounded">
        <p class="fs-1 fw-bold">
            Aventura en la montaña
        </p>
        <div class="d-flex w-ful justify-content-center align-items-center">
            <img src="Imagenes/montaña.jpg" class="imagen-gap rounded-3" />
        </div>
        <br />
        <p class="fs-6 text-secondary">Duración <span>3 horas</span></p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum sem sapien, nec commodo sem tempus ut.
        </p>
        <button class="btn btn-dark">Ver más detalles</button>
    </div>

    <div class="bg-white h-full p-4 rounded">
        <p class="fs-1 fw-bold">
            Aventura en la montaña
        </p>
        <div class="d-flex w-ful justify-content-center align-items-center">
            <img src="Imagenes/montaña.jpg" class="imagen-gap rounded-3" />
        </div>
        <br />
        <p class="fs-6 text-secondary">Duración <span>3 horas</span></p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum sem sapien, nec commodo sem tempus ut.
        </p>
        <button class="btn btn-dark">Ver más detalles</button>
    </div>




</div>

@code {

}
