
<div class="vh-100 d-flex justify-content-center align-items-center flex-column gap-xxl-5" id="Episodes">
    <h2 class="text-center fs-1 fw-bold">Capitulos destacados</h2>
    <div class="grid-cols-3 px-5 gap-5">
        <Target Capitulo="Montaña" Episodio="1"/>
        <Target Capitulo="Montaña" Episodio="2" />
        <Target Capitulo="Montaña" Episodio="3" />
    </div>
</div>

@code {

}

