@page "/user"
@using LamaAppVS.Components.Pages.Usuario.Layout
@using LamaAppVS.Components.Pages.Usuario.User_Home.Components
@layout UserLayout

<div class="container m-0 w-75">
    <PostInput/>
</div>

@code {

}
