@page "/user"
@using LamaAppVS.Components.Pages.Usuario.Layout
@using LamaAppVS.Components.Pages.Usuario.User_Home.Components
@layout UserLayout

<div class="container m-0 w-75 shadow-sm d-flex flex-column gap-2 pt-2">
    <PostInput/>
    <Publicacion />
    <Publicacion />
    <Publicacion />
    <Publicacion />
    <Publicacion />
    <Publicacion/>
    <Publicacion/>
    <Publicacion/>
    <Publicacion/>
    <Publicacion/>
    <Publicacion/>
    <Publicacion/>
    <Publicacion/>
    <Publicacion />
    <Publicacion />
</div>

@code {

}
