@page "/user/episodes"
@using LamaApp.Client.Pages.Layout
@using LamaApp.Client.Pages.Usuario.Layout
@using LamaApp.Shared

@using LamaApp.Client.Services.Capitulos
@inject ICapituloService capituloService
@layout UserLayout

<div class="container m-0 p-4 d-flex flex-column gap-4 w-100 ">

    <h1 class="fs-1 fw-bold text-center">Episodios en motocicleta</h1>

    <div class="grid-cont d-grid grid-cols-3 gap-5 w-100">

        @foreach (var cap in listaEpisodios)
        {

            <div class="target bg-white p-3 rounded d-flex flex-column gap-2">
                <p class="fs-1 fw-bold">
                    @cap.Nombre
                </p>
                <img src="Imagenes/montaña.jpg" class="w-100 rounded-3" />
                <div class="desc">
                    <p class="fs-6 text-secondary">@cap.Pais - @cap.Ciudad</p>
                    <p>@cap.Descripcion</p>
                </div>

                <button class="btn btn-dark">Ver más detalles</button>
            </div>
        }

    </div>
</div>

<style>

    .grid-cont{
        grid-template-rows : auto;
        grid-auto-rows : auto
    }

</style>
@code {

    private List<CapituloSh> listaEpisodios = new List<CapituloSh>();

    protected override async Task OnInitializedAsync()
    {
        try
        {

            listaEpisodios = await capituloService.GetCapitulos();
        }
        catch (Exception e)
        {
            Console.WriteLine("Error en la respuesta" + e);
        }
    }


}
